body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}

.kacu-macu{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left:2%;
}
.adu-vadu{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    border: 10px;
    color: white;
    font-weight: 700;
}